<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.learn.shop.product.mapper.ProductMapper">
    <update id="updateProductStockById">
        update t_product
        set t_product_stock = t_product_stock - #{count}
        where id = #{id}
    </update>
</mapper>